:root {
  --primary-color: #465182;
  --secondary-color: #6fbed7;
  --background-color: #e2dddd;
  --primary-text-color: #151519;
  --secondary-text-color: #ffffff;
  --border-color: #197be3;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
